.searchForm {
  background-color: var(--color-lightBlue);
  color: #213547;
  display: flex;
  justify-content: center;

  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
}

.searchInput {
  border-radius: 8px;
  border-style: none;
  margin-right: 20px;
  padding-block: 8px;
  padding-inline: 12px;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  .searchForm {
    background-color: var(--color-lightBlue);
    color: #213547;
  }
  .searchForm button {
    background-color: transparent;
  }

  .searchForm button:hover {
    color: var(--color-light);
  }
}
